@use '@angular/material' as mat;

@include mat.core();

html {
  color-scheme: light;
  @include mat.all-component-themes(
    mat.define-theme(
      (
        color: (
          theme-type: light,
          primary: mat.$cyan-palette,
          tertiary: mat.$orange-palette
        ),
        typography: (
          plain-family: (Inter, Roboto, 'Helvetica Neue', sans-serif),
          brand-family: (Inter, Roboto, 'Helvetica Neue', sans-serif)
        )
      )
    )
  );
}
